.help-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffffdb;
    z-index: 20;
}
.normal-header{
    position: absolute;
    background: none;
    z-index: 10;
}


.main-big-title{
    position: absolute;
    color:#FE523B;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem;
    padding: 0;
    line-height: 1;
    text-shadow: 4px 27px 20px #ffffff;
    z-index: 10;
}
.help{
    position: absolute;
    right: 5rem;
    top: 3rem;
    color: #6E25FB;
    z-index: 20;
    background: none;
    border: none;
    font-weight: 700;
}
.help:focus{
      outline: none;
}

.help:hover{
    color: #6e25fb8a;
}

.main-title{
    color:#FE523B;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.small-title{
    color: #6E25FB;
    margin: 0;
    padding: 0;
    font-size: 0.77rem;

}

.header{
    margin: 3rem auto;
    /* position: absolute; */
    width: 500px;
    text-align: center;
}

.main{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: auto;
}


.instructions{
        text-align: left;
    position: absolute;
    top: 56%;
    left: 38.5%;
}
